@font-face {
  font-family: "iconfont"; /* Project id 2521403 */
  src: url('iconfont.woff2?t=1620020057087') format('woff2'),
       url('iconfont.woff?t=1620020057087') format('woff'),
       url('iconfont.ttf?t=1620020057087') format('truetype'),
       url('iconfont.svg?t=1620020057087#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshangpinguanli:before {
  content: "\e607";
}

.iconyonghuguanli:before {
  content: "\e622";
}

.icondingdanguanli:before {
  content: "\e61e";
}

.iconyonghuguanli1:before {
  content: "\e605";
}

.iconquanxianguanli1:before {
  content: "\e658";
}

.iconshujutongji:before {
  content: "\e606";
}

.iconbianjixiangmu:before {
  content: "\e608";
}

.iconchucun:before {
  content: "\e609";
}

.iconcaozuorizhi:before {
  content: "\e60a";
}

.iconsousuo:before {
  content: "\e60b";
}

.iconzuzhiyuquanxian:before {
  content: "\e60d";
}

.iconzonglanxiushi:before {
  content: "\e60e";
}

.iconzonglan:before {
  content: "\e60f";
}

.iconyongliang:before {
  content: "\e610";
}

.iconjingshi:before {
  content: "\e611";
}

.icongerenziliao:before {
  content: "\e612";
}

.iconriqi:before {
  content: "\e613";
}

.iconfuzhi:before {
  content: "\e614";
}

.iconzengjia:before {
  content: "\e615";
}

.iconjisuan:before {
  content: "\e616";
}

.icongenggaipeizhi:before {
  content: "\e617";
}

.iconshouqi:before {
  content: "\e618";
}

.iconhuancun:before {
  content: "\e619";
}

.iconwangluo:before {
  content: "\e61a";
}

.iconliuchengguanli:before {
  content: "\e61b";
}

.icongongdan:before {
  content: "\e61c";
}

.icontongbufuwu:before {
  content: "\e61d";
}

.icongouwuche:before {
  content: "\e633";
}

.iconicon-mima:before {
  content: "\e60c";
}

.iconyonghu:before {
  content: "\e635";
}

